/* app/assets/css/main.css */

/* 1. Tailwind bắt buộc đầu tiên */
@import "tailwindcss";

/* 2. Font Local (Tự host) */
@font-face {
  font-family: "MyWeddingFont";
  src: url("/fonts/SVN-BonVoyage-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 3. Utility Classes */
.perspective-container {
  perspective: 1200px;
}
.preserve-3d {
  transform-style: preserve-3d;
}

.font-wedding-1 {
  font-family: "MyWeddingFont", cursive;
}

.font-great-vibes {
  font-family: "Great Vibes", cursive;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-serif {
  font-family: "Cormorant Garamond", serif;
}
