/* app/assets/css/main.css */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,600;0,700;1,400&display=swap");

/* 1. Tailwind bắt buộc đầu tiên */
@import "tailwindcss";

/* 2. Font Local (Tự host) */
@font-face {
  font-family: "MyWeddingFont";
  src: url("/fonts/SVN-BonVoyage-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 3. Utility Classes */
.perspective-container {
  perspective: 1200px;
}
.preserve-3d {
  transform-style: preserve-3d;
}

.font-wedding-1 {
  font-family: "MyWeddingFont", cursive;
}

.font-great-vibes {
  font-family: "Great Vibes", cursive;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-serif {
  font-family: "Cormorant Garamond", serif;
}

.font-mali {
  font-family: "Mali", cursive;
}
